<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  
  <display-name>Archetype Created Web Application</display-name>
  
  <servlet>
  	<servlet-name>Customermain</servlet-name>
  	<servlet-class>servlet_hibernate.main.Customermain</servlet-class>
  </servlet>
 	
	<servlet>
		<servlet-name>Customerdisplayddata</servlet-name>
		<servlet-class>servlet_hibernate.main.Customerdisplayddata</servlet-class>
	</servlet>
 	
 	<servlet>
 		<servlet-name>Updatedata</servlet-name>	
 		<servlet-class>servlet_hibernate.main.Updatedata</servlet-class>
 	</servlet>
 	<servlet>
 		<servlet-name>HomeController</servlet-name>
 		<display-name>HomeController</display-name>
 		<description></description>
 		<servlet-class>servlet_hibernate.main.HomeController</servlet-class>
 	</servlet>
	<servlet>
		<servlet-name>Deletedata</servlet-name>
		
		<servlet-class>servlet_hibernate.main.Deletedata</servlet-class>
	</servlet>
 
	 
  <servlet-mapping>
  	<servlet-name>Customermain</servlet-name>
  	<url-pattern>/action</url-pattern>
  </servlet-mapping> 
  
  <servlet-mapping>
  	<servlet-name>Customerdisplayddata</servlet-name>
  	<url-pattern>/displaydata</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
  	<servlet-name>Updatedata</servlet-name>
  	<url-pattern>/updatedata.do</url-pattern>
  </servlet-mapping>
 
  <servlet-mapping>
  	<servlet-name>HomeController</servlet-name>
  	<url-pattern>/updatecustomer.do</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
  	<servlet-name>Deletedata</servlet-name>
  	<url-pattern>/deletedata.do</url-pattern>
  </servlet-mapping>
  


	

</web-app>
